@media (max-width: 1199px){
    html{
        font-size: 9px;
    }

}
@media(max-width: 991px){
 html{
    font-size: 7px;
 }
  .visible-lg{
    display: none;
  }
  .m-menu-link{
    display: block;
  }
  .tarif-plan{
    flex-direction: column;
  }
  .tarif{
    width: 100%;
  }
  .table{
    height: 100%;
    width: 100%;
  }
  .table-header p{
    display: contents;
  }
  .footer{
    justify-content: center;
    margin-right: 50px;
  }
  .footer-menu{
    display: none;
  }
  .legal{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }
  .social-links a{
    font-size: 30px;
  }
  .main-text p{
    width: 300px;
  }
  .main-text h1{
    font-size: 40px;
  }
  .main-text{
    padding-top: 150px;
  }
.cta h4{
  font-weight: 900;
  font-size: 40px;
  
}
.logo_img{
  width: 200px;
}
#section02 a span{
  margin: 460px 0 0 -8px;
}
.tarif{
  width: 280px;
}
.cta{
  height: 400px;
  padding: 50px 40px 0px 30px;
 
}
.cta-btn{
  font-size: 14px;
}
.tarif:hover{
  cursor: pointer;
  box-shadow: 0px 0px 60px 10px rgba(204,204,223,0.71);
  width: 103%;
}
}
